.App {
  text-align: center;
}

.back-button{
  z-index: 1;
  position: fixed;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-content: center;
  padding: 0;
justify-content: center;
}

.nav {
  z-index: 1;
  position: fixed;
  left:0;
  top:0;
  cursor: pointer;
  top: 22%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}